{
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "browser": true,
    "webextensions": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ]
}
