{
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "Firefox > 54"
          ]
        },
        "modules": "commonjs"
      }
    ]
  ]
}
